@model IEnumerable<productmanagement.Models.Invoice_Detail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#InvoiceDetails').DataTable();
    });
    </script>
}

<h1>Invoice Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="InvoiceDetails">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Invoice_Detail_Number">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Invoice_Detail_Number">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Invoice_Detail_Number">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
